/* header */
@import url("./header.css");

/* main section */
.products {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* card */
.card {
  width: 30rem;
}

.btn {
  width: 100%;
  margin: 0.5em 0;
}

.discount-price {
  text-decoration: line-through;
  color: var(--secondary-text);
}

.discount {
  color: var(--secondary-text);
}

.quantity{
  border: 1px solid var(--secondary-text);
}

/* cart */
.products {
  height: 70vh;
  overflow-y: scroll;
}

/* scroll */
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* price card */
.flex-between {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  justify-content: center;
  align-items: center;
}

.price-card {
  width: 20rem;
}

.card-header:hover {
  background: none;
  cursor: auto;
}
