/* header */
header{
  border-bottom: 1px solid var(--secondary-color);
}

/* main */
main {
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

/* card */
.card {
  width: 95%;
}

.offer-card {
  width: 100%;
  height: 5rem;
}

.card-img {
  width: 10rem;
  height: 10rem;
}

.shopping-offer {
  background-color: var(--secondary-color);
}

.grid-2-col {
  grid-gap: 2rem;
}
