@import url("./variables.css");

/* header */
header{
  border-bottom: 1px solid var(--secondary-color);
}

/* card */
.card {
  width: 30rem;
}

/* form */
.form-group {
  position: relative;
}

.show-password {
  position: absolute;
  top: 50%;
  right: 3%;
}
